__pycache__/
*.pyc
.venv/
.env

logs/*
!logs/.gitkeep

data/metadata/metadata.json

data/audio/*
!data/audio/sample/
!data/audio/sample/.gitkeep

data/program_guides/*
!data/program_guides/.gitkeep

data/filtered_programs/*
!data/filtered_programs/.gitkeep

.vscode/
.idea/
data_backup_*
